body {
  background-color: #2699db;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #187dd4;
  color: #fdffff;
  border: solid;
  border-color: black;
  font-weight: bold;
}

input {
  height: 20px
}
